.title{
    padding-top: 0em;
    font-family: Montserrat;
    font-size: 3em;
    color: #e0e0e0;
    margin-bottom: 1em;
    transition: 0.8s ease-out;
  }

  .info{
    font-Family: Montserrat;
    font-Size: 3em;
    color: #e0e0e0;
    margin: 0em;
    transition: 0.8s ease-out;
  }

  .downPrice{
    font-family: Montserrat;
    color: #ff2e63;
    font-size: "5em"
  }

.openClosePrice{
    padding: 1em;
    font-Family: Montserrat;
    font-Size: 2em;
    color: #e0e0e0;
    margin: 0em;
}

.stockNewsBox{
    font-family: Montserrat;
    margin: 1em;
    background-Color: #39c9a0;
    border-Radius: 8px 8px 8px 8px;
    color: #e0e0e0;
    padding: 0.5em;
    transition: 0.9s ease-out;
}